<!-- expense_tracker_app/templates/total_expenses.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Expenses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Total Expenses</h1>
        <p class="lead text-center">Total expenses: ₹{{ total }}</p>
        <a href="{% url 'display_menu' %}" class="btn btn-secondary mt-3">Back to Menu</a>
    </div>
</body>
</html>
